* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", arial;
}

.main-section-container {
  max-width: 1530px;
  margin: 0 auto;

  background: rgba(247, 247, 254, 1);
}

.main-section-box {
  padding: 30px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/fon-image-1.png), url(./images/fon-image-2.png);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
}

.main-min_container {
  margin-top: 40px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.main-min_container-text {
  font-weight: 700;
  font-size: 15px;
  color: rgba(110, 114, 142, 1);
}

.main-min_container-btn {
  padding: 4px 4px 4px 28px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
}

.main-section-list {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.main-list-item {
  width: 350px;
  padding: 31px 0px;
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.main-list-title {
  font-weight: 700;
  font-size: 18px;
  color: rgba(110, 114, 142, 1);
}

.main-list-text-number {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: rgba(74, 77, 96, 1);
}

.main-list-text-span {
  font-size: 40px;
}

.main-list-text {
  font-weight: 700;
  font-size: 15px;
  color: rgba(110, 114, 142, 1);
}

hr {
  width: 280px;
}

.main-list-btn {
  width: 280px;
  margin-top: 20px;
  padding: 14px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  color: white;
  border: 1px solid white;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
}

.border-left-style {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.list-item-style {
  padding: 54px 0px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(135.06deg, #a2a7f0 -0.05%, #696edd 100.05%);
}

.list-title-style,
.list-text-style {
  color: white;
}

.list-btn-style {
  color: rgba(109, 114, 222, 1);

  background: white;
}

.border-right-style {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-min_container-btn:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.main-list-btn:hover {
  color: rgba(109, 114, 222, 1);
  border: 1px solid rgba(109, 114, 222, 1);
  background: white;
  transition: 0.1s;
}

.list-btn-style:hover {
  color: white;
  border: 1px solid white;
  background: none;
  transition: 0.1s;
}
